/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gilroy";
  src: url("assets/fonts/Gilroy-Semibold.ttf");
}

@font-face {
  font-family: "Merriweather";
  src: url("assets/fonts/Merriweather-Black.ttf");
}

body {
  background-color: #191411;
  font-family: "Gilroy", sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;

  overflow-x: hidden;
  /* background: url("../images/main_bg.png") center center / cover no-repeat; */
  /* background-image: url("../images/main_bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-content .container {
  position: relative;
}

.button {
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 62px;
  background: linear-gradient(95.61deg, #DA8023 0%, #E2B438 100%);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  color: #191411;
}

.button:hover {
  background: linear-gradient(95.61deg, #8b5016 0%, #866710 100%);
}

.button:disabled {
  cursor: not-allowed;
  clear: grey;
  background: #343434;
}
