.common-title {
  font-family: 'Merriweather', sans-serif;
  font-size: 64px;
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
}

.header__container {
  display: flex;
  justify-content: space-between;

  padding: 40px 0;
  align-items: center;
}

.logo__image {
  vertical-align: bottom;
}

.nav {
  margin-left: 191px;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__item {
  margin-right: 88px;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.nav__link:hover {
  border-bottom: 2px solid #fff;
}

.currency {
  box-sizing: border-box;
  text-align: center;
  width: 45px;
  height: 45px;
  padding: 6px;
  margin-left: auto;
  line-height: 32px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.main-content {
  padding: 103px 0 199px;
  position: relative;
}

.main-content::after {
  content: "";
  position: absolute;
  top: -130px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  background: url("../assets/images/main_bg.png") center center / cover no-repeat;
}

.main-content__info {
  max-width: 608px;
}

.main-content__small-info {
  background: #D3320F;
  border-radius: 100px;
  padding: 12px 16px;
}

.main-content__title {
  font-family: 'Merriweather', sans-serif;
  font-size: 120px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 56px;
}

.main-content__text {
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 56px;
}

.main-content__btn {
  max-width: 260px;
  height: 62px;
}

.main-content__image {
  position: absolute;
  top: -153px;
  left: calc(100% - 80%);
  z-index: -1;
}

.why {
  background: url('../assets/images/whybg.png') center center / cover no-repeat;
}

.why__items {
  display: grid;
  justify-content: center;
  padding: 60px 0 180px;
  gap: 100px;
  grid-template-columns: repeat(3, 312px);
}

.why__item {
  text-align: center;
}

.why__item-title {
  font-size: 24px;
  line-height: 29px;
  margin: 24px 0;
}

.why__item-text {
  font-size: 16px;
  line-height: 140%;
}

.products {
  background: url('../assets/images/burgers_bg.png') center center / 1400px no-repeat;
  padding-bottom: 180px;
}

.products__items {
  display: grid;
  grid-template-columns: repeat(3, 384px);
  justify-content: center;
  gap: 24px;
  padding-top: 60px;
}

.products__item {
  padding: 30px;
  background: #211A16;
  border: 1px solid #353535;
  border-radius: 16px;
}

.products__item-image {
  height: 250px;
}

.products__item-img {
  max-width: 100%;
}

.products__item-title {
  font-size: 24px;
  line-height: 29px;
  margin: 24px 0;
}

.products__item-text {
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 24px;
}

.products__item-extra {
  display: flex;
  justify-content: space-between;
}

.products__item-price {
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 8px;
  display: block;
}

.products__item-weight {
  font-size: 16px;
  line-height: 18px;
  display: block;
}

.products__item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182px;
  height: 62px;
}

.products__item-btn span:first-child {
  margin-right: 10px;
}

.order {
  background: url('../assets/images/order_bg.png') top center / cover no-repeat;
  padding-bottom: 180px;
  /* overflow: hidden; */
}

.order__wrapper {
  position: relative;
  display: flex;
}

.order__img {
  position: absolute;
  top: -82px;
  right: calc(100% - 764px);
  z-index: -1;
}

.form {
  background: #211A16;
  border: 1px solid #353535;
  border-radius: 16px;
  margin-top: 60px;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 426px;
  box-sizing: border-box;
  /* margin-left: 774px; */
  margin-left: auto;
}

.form__text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 40px;
}

.form__input {
  position: relative;
  padding: 20px 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  outline: none;
  color: #757575;

  border: 2px solid transparent;
  background: linear-gradient(95.61deg, #DA8023 0%, #E2B438 100%);
  box-shadow: inset 0px 0px 0px 100vw #211A16;
  border-radius: 8px;
}

.form__input.error {
  background: red;
}

.footer {
  padding: 60px 0;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__rights {
  display: block;
  font-size: 16px;
  line-height: 20px;
}
